#title{
  
  text-align: center;
  text-decoration: underline;
  
}


#start
{
  margin-top: 5px;
  background-color: rgb(138, 138, 228);
  border: none;
  outline: none;
  width: 6rem;
  height: 2rem;
  transition: 0.4s;
  border-radius: 10px;

}
#start:hover
{
  background-color: blue;
  color: white;
  cursor: pointer;

  outline: 1px solid black;
}
.container{
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}